/* App.css */

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f2f2f4;
  
}

.app-container {
  display: flex;
  
}

.content-container {
  margin-left:15rem;
  padding: 2rem;
  width: 100%;
  margin-right: 2rem;
}
.dashboard{
  
  display: fixed;
  
}

@media screen and (max-width: 640px){
  .app-container {
    display: flex;
    flex-direction: column;
    
  }
  .dashboard{
    width:2rem;
    display: fixed;
    top:0;
    z-index: 2;
  }
  .content-container {
    margin:0;
    padding-right:4rem;
    margin-top:4rem ;
    width: 90%;
  }
  
}

/* Add styling for App component as needed */
