/* UserAuthentication.css */

.authentication-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f4; /* Light Gray */
  }
  
  .signUpDiv {
    text-align: center;
    background-color: #b4b4cf; /* Light Gray */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #17173a; /* Dark Blue */
    color: black;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #b9bcbe; /* Light Gray */
    box-sizing: border-box;
    border-radius: 1rem;
  }
  
  button {
    background-color: #17173a; /* Dark Blue */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5rem;
    
  }
  
  button:hover {
    background-color: #f2f2f4; /* Light Gray */
    color: #17173a; /* Dark Blue */
  }
  